.leftNavigationBar {
  height: calc(100vh - 64px);
  > .wrapper {
    padding: 20px 0;
    border-right: 1px solid #eee;
    height: 100%;
    .item {
      padding: 12px 20px;
      cursor: pointer;
      border-bottom: 1px solid #eee;
      white-space: nowrap;

      &.active {
        background-color: #eee;
      }

      &:hover {
        background-color: #eee;
      }
    }
  }
}
